@use "./variables" as *;

@media (max-width: 940px) {
  .welcomePage {
    h1 {
      font-size: 3rem;
      margin-top: 4rem;
      text-shadow: none;
    }
    .textWelcome{
      -webkit-text-stroke: 1px $secondaryColor;
    }
  }
  .flexSection{
    flex-direction: column;
  }
  .form{
    width: 100%;
  }
  .travelResult{
    width: 100%;
  }
}

@media (max-width: 666px) {
  .welcomePage {
    h1 {
      font-size: 2.5rem;
    }
    .textWelcome {
      font-size: 1rem;
      bottom: 80px;
    }
    img {
      width: 400px;
    }
  }
  
.podcastResult{
  ul{
    justify-content: center;
    li{
      padding-bottom: 50px;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      
    }
  }
   .podDesc {
    max-width: 100%;
   }

}
}

@media (max-width: 500px) {
  .welcomePage {
    h1 {
      font-size: 2rem;
    }
    .textWelcome {
      bottom: 0px;
    }
  }
}

@media (max-width: 410px) {
  .welcomePage {
    h1 {
      font-size: 1.7rem;
    }
    .textWelcome {
      bottom: 0px;
    }
    img {
      width: 330px;
    }
  }
}
