$primaryColor: #001E31;
$secondaryColor: #C2EDD8;
$thirdColor: #D3CFE6;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nova+Flat&display=swap');

$mainFont: 'Lato', sans-serif;
$headingFont: 'Nova Flat', cursive;